---
import { Header } from "../index.js";
import routes from "../data/routes.json";
import "../style/main.scss";

interface Props {
	pathname?: string;
}

const { pathname } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>

	<body>
		<Header
			logo="https://www.pikpng.com/pngl/b/583-5830237_your-logo-retulp-bus-stop-clipart.png"
			{pathname}
			navItems={routes}
			sticky={true}
			hideOnScroll={true}
		/>

		<main id="main">
			<slot />
		</main>
		<style lang="scss">
			main {
				flex: 1 0 0;
			}
		</style>
	</body>
</html>
