---
import { HeaderSimple } from "../index.js";
import routes from "../data/routes.json";

interface Props {
	pathname?: string;
}

const { pathname } = Astro.props as props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href={Astro.resolve("../style/main.scss")} />
	</head>

	<body>
		<HeaderSimple
			logo="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/1200px-Logo_NIKE.svg.png"
			pathname={pathname}
			navItems={routes}
			sticky={true}
			hideOnScroll={true} />

		<main id="main">
			<slot />
		</main>
	</body>
</html>

<style lang="scss">
	main {
		flex: 1 0 0;
	}
</style>
